:root {
    --map-drawer-bg-color: white;
}

[data-theme="dark"] {
    --map-drawer-bg-color: #242526;
}

.grid {
    display: flex;
}

.drawer {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    width: 300px;
    padding: 10px;
    background: var(--map-drawer-bg-color);
    flex-shrink: 0;
}

.drawerContent {
    overflow-y: auto;
    flex-grow: 1; 
}

.attribution {
    font-size: 12px;
    color: rgb(82, 82, 82);
    line-height: 1.2;
    margin-top: 10px; 
    flex-shrink: 0; 
}

.mobileToggle {
    display: none;
}

.drawerClose {
    display: none;
}

@media screen and (max-width: 768px) {
    .grid {
        flex-direction: column-reverse;
    }

    .drawer {
        position: fixed;
        top: 0;
        left: 0;
        height: 100vh;
        width: 80%;
        max-width: 320px;
        box-shadow: 0 0 20px rgba(0,0,0,0.3);
        transform: translateX(-100%);
        transition: transform 0.3s ease;
        z-index: 10000;
    }

    .drawerOpen {
        transform: translateX(0);
    }

    .mobileToggle {
        position: absolute;
        display: block;
        top: 15px;
        right: 15px;
        z-index: 9000;
        background: white;
        border: none;
        padding: 10px 14px;
        border-radius: 6px;
        box-shadow: 0 2px 6px rgba(0,0,0,0.2);
        color: black;
        font-size: 20px;
        cursor: pointer;
    }

    .drawerClose {
        display: block;
        margin-bottom: 10px;
        border: none;
        padding: 10px;
        width: 100%;
        font-size: 16px;
        cursor: pointer;
    }
}

.error {
    width: 100%;
    background-color: darkred;
    color: white;
    padding-left: 10px;
    padding-right: 10px;
}
